#divContainerFi{
    width: 60%;
    display: flex;
    position: absolute;
    top: 11%;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    justify-content: center;
}
#btnPostsFI{
    width: 50%;
    height: 30px;
    background-color: #f0f0f0;
    border-right: 1px solid #2f2f2f;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
#btnUsersFI{
    width: 50%;
    height: 30px;
    background-color: #f0f0f0;
    border-right: 1px solid #2f2f2f;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
#linhaFI{
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 2px solid #f0f0f0;
    position: absolute;
    top: 19%;
}