#CRP{
    width: 100%;
    min-height: 500px;
}
#divCRP{
    width: 80%;
    border-radius: 12px;
    max-width: 1200px;
    position: absolute;
    top: 11%;
    left: 50%;
    transform: translateX(-50%);
    min-height: 500px;
    background-color: #f0f0f0;
}
#divPerfilCRP{
    display: flex;
    width: 100%;
    margin: 15px 0px;
    align-items: center;
}
#unCRP{
    margin-left: 15px; 
    font-size: 18px;
    font-weight: 500;
    
}
#imgCRP{
    width: 40px;
    height: 40px;
    margin-left: 30px;
    border-radius: 50%;
}
.pDivisorCRP{
    text-align: center;
    padding: 10px 0px;
    color: #2f2f2fb7;
}
#contentCRP{
    line-break: anywhere;
}
#linha1CRP{
    width: 95%;
    margin: auto;
    border-bottom: 2px solid #2f2f2f3a;
}
#titleCRP{
    padding: 10px 15%;
    line-break: anywhere;
}
#linha2CRP{
    width: 45%;
    margin: auto;
    border-bottom: 2px solid #2f2f2f3a
}
#contentCRP{
    padding: 10px 15%;
    line-break: anywhere;
    margin-bottom: 100px;
}
#navigateCRP{
    cursor: pointer;
}