#containerSP {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  max-width: 1000px;
  min-height: 350px;
  border-radius: 12px;
  background-color: transparent;
}
#endSP {
  text-align: center;
  padding: 15px 0px 80px 0px;
  color: #f0f0f0;
}
#containerPostSP {
  width: 90%;
  display: flex;
  background-color: #f0f0f0;
  min-height: 80px;
  border-radius: 12px;
  max-width: 900px;
  cursor: pointer;
  margin: 15px auto;
}
#containerPostSP img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 20px 15px;
}
#contentPostSP {
  width: 100%;
}
#titlePostSP {
  color: black;
  padding: 10px 5% 10px 0px;
  font-size: 18px;
  font-weight: bold;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-break: anywhere;
}
#linhaPostSP {
  width: 60%;
  border-bottom: 2px solid #2f2f2f8a;
  color: black;
}
#contentPostSP {
  color: black;
  padding: 0px 5% 0px 0px;
  font-size: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-break: anywhere;
  margin: 10px 0px;
}
#usernamePostSP{
    font-size: 14px;
    color: #2f2f2fd3;
}
#divNadaEncontradoPostSP{
  width: 60%;
  text-align: center;
  margin: auto;
  max-width: 400px;
  background-color: #f0f0f0;
  color: #2f2f2f;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  border-radius: 12px;
}